  <p id="notice"><%= notice %></p>

  <h1>Listing Assigned Positions</h1>
  <% @assignments.each do |assignment| %>
  <p><h4><%= assignment.title %></h4></p>
  <% @groups.each do |group| %>
      <p><h4>Group: <%= group.id %></h4>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Current Position</th>
        <th>Assign</th>
      </tr>
    </thead>

    <tbody>
     
           <% group.users.each do |user| %>
           <tr>
                <td><%= user.name %></td>
                  <td><% if user.assigned_positions.last %>
                  <p><%= user.assigned_positions.last.position.title %></p>
                  <% end %></td>
                  <td>
                  <%= form_for(@assigned_position) do |f| %> 
                 <%= f.select :position_id, @positions.all.collect {|a| [a.title, a.id]} %>
                 <%= f.hidden_field :assignment_id, value: assignment.id %>
                 <%= f.hidden_field :user_id, value: user.id %>
                <td><div class="actions">
                  <%= f.submit %>
                </div></td>
              </td>
              <% end %>
        <% end %>
          
        </tr>

    </tbody>
  </table>

  
    
       
    <% end %>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" >
  <% end %>

  <br>

  <%= link_to 'New Assigned position', new_assigned_position_path %>
